<!DOCTYPE html>
<html>
    <head>
        <title>Angular Change Tracker Demo</title>
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="libs/bootstrap.min.css" />
    </head>

    <body ng-app="demoApp" ng-controller="demoCtrl" style="padding: 10px;">
        <div class="container">
            <div class="row">
                <h1>Angular Object Context Demo</h1>
                <hr/>
            </div>
            
            <div class="row">
                <h4>
                    Context State:
                    <span ng-if="hasChanges" style="color: blue;">Has Changes</span>
                    <span ng-if="!hasChanges" style="color: red;">No Changes</span>
                </h4>
                <hr/>
                <div>
                    <button class="btn btn-primary" ng-click="onLogContext()">Log Context</button>
                    <button class="btn btn-warning" ng-click="onRejectAll()">Reject All Changes</button>
                    <button class="btn btn-danger" ng-click="onClear()">Clear Context</button>
                    <button class="btn btn-success" ng-click="onApplyChanges()" ng-disabled="!hasChanges">Apply Changes</button>
                </div>
                
                <hr/>
            </div>
            
            <div class="row">                
                <div class="col-lg-6">
                    <h4>Loaded Objects: ({{contextObjectCount}})</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td width="80">Select</td>
                                <td width="80">Reset</td>
                                <td width="80">Remove</td>
                                <td>Name</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="object in getPeople()" ng-class="{'info': object === person}">
                                <td>
                                    <button class="btn btn-primary" ng-click="setPerson(object)">Select</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning" ng-click="onResetCurrent(object)">Reset</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="onRemove(object)">Delete</button>
                                </td>
                                <td style="vertical-align: middle;">{{object.name}}</td>
                                <td style="vertical-align: middle; width: 100px;">{{object._objectMeta.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-block btn-success" ng-click="onLoad()">
                        Add Person
                    </button>
                </div>
                
                <div class="col-lg-6" ng-if="person">
                    <form>
                        <h4>Object Details:</h4>
                        
                        <hr/>
                        
                        <p class="form-group">
                            <label>Has Child Changes:</label> 
                            <span>{{hasChildChanges()}}</span>
                        </p>
                        
                        <div class="form-group">
                            <label>Name (primitive):</label>
                            <input type="text" class="form-control" ng-model="person.name" />
                        </div>

                        <div class="form-group">
                            <label>Age (primitive):</label>
                            <input type="text" class="form-control" ng-model="person.age" />  
                        </div>

                        <div class="form-group">
                            <label>Favorite Sport (nested object):</label>
                            <input type="text" class="form-control" ng-model="person.favoriteSport.name" />  
                        </div>

                        <div class="form-group">
                            <label>Favorite Colors (array of objects):</label>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr ng-repeat="color in person.favoriteColors" ng-if="color._objectMeta.status != 'Deleted'">
                                        <td style="text-align: center; vertical-align: middle; font-weight: bold;">{{$index+1}}</td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="color.name" />  
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="onRemoveColor(color)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                            <button class="btn btn-block btn-success" ng-click="onAddColor()">Add Color</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="libs/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/Person.js"></script>
        <script src="js/demoCtrl.js"></script>
        <script src="../src/ObjectContext.js"></script>
        <script src="../src/ngObjectContext.js"></script>
        <!--<script src="../build/ngObjectContext.min.js"></script>-->
    </body>
</html>
